.loader {
  border: 8px solid #8bccf7;
  border-radius: 50%;
  border-top: 8px solid #225C88;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button {
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
  border-radius: 25px;
}


.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
input {
  width: 100%;
  padding: 3px 5px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 1px solid #008CBA;
  -webkit-transition: 0.5s;
  transition: 0.1s;
  outline: none;
}

input:focus {
  border: 3px solid #4CAF50;
}

body {
  background-color: #faf1d7;
  
}
#Data  tr, #Data td {
  color: black;
}
div.C1 {border-style: double; color: #04AA6D; width: 40%; float: left;}
div.C2 {width: 40%; float: left; padding-left: 20px; padding-top: 7px;}
div.loader{float: left;}
div.status{float: left; padding-left: 20px ; text-align: center; padding-top: 12px}
div.B {border-style: double; color: #04AA6D;}
div.A {border-style: double; color: #04AA6D;}


a{color: #008CBA; }
a:hover {color :#008CBA ;  font-weight: bolder;}

