@charset "ISO-8859-1";
#news {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#news td, #news th {
  border: 1px solid #ddd;
  padding: 8px;
}

#news tr:nth-child(even){background-color: #55a9e0;}
#news tr:nth-child(odd){background-color: #8bccf7;}
#news tr:hover {background-color: white;}

#news th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #06558a;
  color: white;
}