<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="style/Table.css"/>
<link rel="stylesheet" type="text/css" href="style/loader.css"/>
<title>Insert title here</title>
</head>
<body>
<script type="text/javascript">
function showLoader() {
	alert("It will take some time to load!");
	document.getElementById("loader").style.display = "";
	document.getElementById("status").style.display = "";
	
}
</script>
<div class="A">
<span style="color: #6666ff;  text-shadow: 1px 1px black; font-size: large; font-weight:bolder;">ADD A NEWS PAPER URL</span>
<form action="AddUrl" method="get">
<table id="Data">
<tr>
<td>FEED NEWS URL : </td>
<td><input type="text" name="addNewsUrl" id="addNewsUrl"  placeholder=""></td>
</tr>
<tr>
<td>ORGANIZATION'S NAME : </td>
<td><input type="text" name="orgName" id="orgName" placeholder=""></td>
</tr>
<tr>
<td></td>
<td><button class="button button1" type="submit">FEED</button></td>
</tr>
</table>
</form>
<span style="color: #0a400a; font-style:italic; font-weight:bold; font-family: Lucida Console,Courier New,monospace;">[[${Status}]]</span><br>
</div>
<div class="B">
<span style="color: #6666ff; text-shadow: 1px 1px black; font-size: large; font-weight:bolder;">CHECK OCCURANCE OF A KEYWORD IN THE HEADLINE OF A NEWSPAPER</span>
<form action="GetHeadLineKEYWORDCount" method="get">
<table id="Data">
<tr>
<td>NEWS PAPER ID : </td>
<td><input type="text" name="id"  placeholder=""></td>
</tr>
<tr>
<td>KEYWORD : </td>
<td><input type="text" name="keyword" placeholder=""></td>
</tr>
<tr><td>CHOOSE DATE</td>
<td><input type="date" name="date"></td></tr>
<tr>
<td></td>
<td><button class="button button2"  type="submit">Check Occurance</button></td>
</tr>
</table>
</form>
<span style="color: #06558a;font-style:italic; font-weight:bold; font-family: Lucida Console,Courier New,monospace;">[[${Count}]]</span><br>
</div>

<div class="C1">
<br><a href="Test" onclick="showLoader()" >[ UPDATE GLOBAL DATA ]</a><span>
	|| </span>
	<a href="GlobalDataVisualization">[ GLOBAL DATA ]</a><br>

<br>    
</div>
<div class="C2">
    <div class="loader" id="loader" style="display: none;"></div> 
    <div class="status" id="status" style="display: none;">Please wait...</div>
</div>

<table id="news">
  <tr>
    <th>ID</th>
    <th>ORGANIZATION</th>
    <th>URL</th>
  </tr>
  <tr th:each="newsDetails : ${newsDetails}">
    <td th:text="${newsDetails.id}"></td>
    <td th:text="${newsDetails.organization}"></td>
    <td th:text="${newsDetails.url}"></td>
  </tr>
</table>
<br>
</body>
</html>
